myenv
venv
frontend/node_modules
test.db
demo.db
frontend
appSKKMigas

Dockerfile.app
Dockerfile.frontend
Dockerfile.req

.venv
.vscode
uploads
.myenv.zip
.vscode
extract.ipynb
app/__pycache__
/sessions
__pycache__
/app/core/external/sessions
.pytest_cache
test.py
test.ipynb
log.json
log.log
DDL
.mypy_cache
/app/core/database/alembic/versions