myenv
venv
frontend/node_modules
/geospatial
frontend
appSKKMigas

Dockerfile.app
Dockerfile.frontend
Dockerfile.req

.venv
uploads
.myenv.zip
.env
extract.ipynb
app/__pycache__
/sessions
__pycache__
/app/core/external/sessions
.pytest_cache
test.py
test.ipynb
log.json
log.log
DDL
.mypy_cache
/app/core/database/alembic/versions
errors.log
*.db